#section1 {
    background-color:transparent;
}
/* .div-left {
    font-family:'pacifico',cursive;
    background-color:transparent;
    padding:100px 40px;
    text-align:center;
    border:white 1px solid;
}
.div-left h2{
    background-color:white;
    max-height:max-content;
    max-width:max-content;
    padding:100px 10px;
    margin:auto;
} */
.div-right {
    text-align:center;
    padding:100px 40px;
    font-family:'pacifico',cursive;
}
.div-right h2{
    background-color:white;
    max-height:max-content;
    max-width:max-content;
    padding:100px 10px;
    margin:auto;
    line-height: 50px;
    letter-spacing: 2px;
}