/* section 1 */
#section1 {
    background-color:transparent;
}
/* right div css */
.div-right {
    /* box-shadow: 50px 50px 1px 1px #fff; */
    text-align:center;
    padding:100px 40px;
    font-family:'pacifico',cursive;
}
.div-right h2{
    box-shadow:30px 23px 31px -4px #0f0f0f50;
    background-color:white;
    max-height:max-content;
    max-width:max-content;
    padding:100px 10px;
    margin:auto;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight:100;
}
/* first button */
.div-left button {
     background-color:transparent;
    color:black;
    border:2px solid black;
    outline:none;
    padding:10px 30px;
    max-width:max-content;
    margin:0px auto;
}
.div-left button:hover {
    background-color:black;
    color:white;
    outline:none;
    text-shadow:3px 3px 2px #fff3;
}
/* div-leftt css */
.div-left {
    text-align:center;
    font-family:'pacifico',cursive;
    padding:200px 40px;
}
.div-left h1{
    padding:20px 10px;
    color:#000;
    font-weight: 100;
}
/* something fishy with this code */
/* arranging items in the section 2 */
/* @media (min-width:768px) { */
    /* #designs div{  */
    /* .test{
        float:left;
        margin:auto;
        width:100%;
        padding:20px 10px;
        text-align:center;
    }
} */
/* @media (min-width:1200px) { */
    /* #designs div{ */
        /* .test {
        float:left;
        margin:0px;
        width:25%;
        padding:20px 10px;
        text-align:center;
    }
} */
/* designs */
/* #designs {
    padding:20px 0px;
    height:auto;
} */
/* overflow */
/* body, html {
    max-width:100%;
    overflow-x:hidden;
}
#designs div img {
    width:50%;
    margin:auto;
    border:2px solid grey;
    height:100%; */
/* }
#designs div p {
    font-size:20px;
    width:50%;
    margin:auto;
    text-align:center;
    border:2px solid grey;
    border-top: none;
    background-color: white;
    color:black;
    font-family:'pacifico',curisve;
    padding:10px 0px;
}
#designs div img,
#designs div p{
    box-shadow:5px 0px 10px 10px #0f0f0f50;
} */
/* restatrting designs */
